*.apk
*.keystore
*.jks
debug.keystore
build/
.gradle/
*.class
*.dex
local.properties
.idea/
*.iml
javac.*.args
local.properties
.gradle/
build/
mrx-release.keystore
*.keystore
*.jks
MRX_BatteryGuard-release.apk
